<!DOCTYPE html>
<html
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
        <meta name="author" content="Seds - TwXDesign">
        <title translate="no">PlayMaLife API</title>
        <link rel="icon" type="image/png" href="{{ asset('img/pml_000.png')}}" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div>
            <img src="/img/pml_000.png">
            <p>playmalife REST API</p>
        </div>
    </body>
</html>