@font-face{
    font-family : 'Blippo';
    src : url('../fonts/BlippoBlackBT.ttf') format('truetype');
}
html, body {
    background: #ffda27;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
div {
    width: 100%;
    top: calc(50% - 220px);
    text-align: center;
    position: absolute;
    bottom: 0;
}
p {
    font-family : 'Blippo';
    font-size: 28px;
    color: #0096cc;
}